<h1>Listing tellers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tellers.each do |teller| %>
      <tr>
        <td><%= teller.name %></td>
        <td><%= link_to 'Show', teller %></td>
        <td><%= link_to 'Edit', edit_teller_path(teller) %></td>
        <td><%= link_to 'Destroy', teller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teller', new_teller_path %>
